*
{
    box-sizing: border-box;
}
 body{
    font-family: 'Nunito',sans-serif;
    margin:0;
 }
 #menu{
    height: 80px;
    background-color: rgb(255, 255, 255);
    padding:0 20px;
    justify-content:space-between ;
    display: flex;
 }
#logo{
    font-size: 30px;
    line-height: 80px;
    color: #124911;
    font:left;
}
nav{
    float:right;
    line-height: 80px;
}
nav a:link{
    text-decoration: none;
    margin-right: 25px;
    color:#124911;
}
nav a:hover{
    border-bottom:2px solid #124911;
}
nav a:visited{
    text-decoration:none;
    margin-right: 25px;
    color:#124911;
}
.ikon{
    margin-right: 7px;
    font-size: 16px;
}
#Anasayfa{
    background-color: gray;
    height: 600px;
    background-image:
    url("../img/img5.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
#black{
    height: 600px;
    background-color: black;
    opacity: 0.5;
}
#icerik{
    position: absolute;
    top: 50%;
    left: 40%;
    transform: translate(-50%,-50%);
    color:white;
    font-size: 20px;
}
#hakkimizda{
    background-color: #ffffff;
    padding: 50px;
    text-align: center;
    text-transform: capitalize;
    font-weight: 600;
}
h3{
    font-size: 55px;
    color: #124911;
    text-shadow: 0px 1px 1px;
    text-align: center;
    
}
.container{
    width: 1200px;
    height: auto;
    margin:auto;
}
#sol{
    float:left;
    border-right:3px solid
    #737373;
    font-size: 30px;
    width: 400px;
    color: #272727; 
}
#sag{
    margin: 0;
    padding: 0;
    margin-top: 20px;
}
span{
    font-size: 50px;
    margin-right: 7px;
    line-height: 42px;
    color:#04ff00;
    font-weight: 600;
    float: left;
}
#sag{
    float: right;
    width: 750px;
    color:#124911;
    text-align: center;
    letter-spacing: 1px;
    font-size: 15px;
    line-height: 1.8;
    font-weight: 100;
}
.img-fluid{
max-width: 100%;
height: 400px;
width: 3000px;
}
.mt100{
    margin-top: 100px;
    
}
#urunler{
    background-color: #ffffff;
    padding: 50px;
    text-align: center;
    height: 700px;
}
.card{
    width: 350px;
    height: 200px;
    border:1px solid#ddd;
    padding: 0;
    display: inline-block;
}
.baslikcard{
    font-size: 15px;
    color:#003666;

}
.cardp{
    color:#888;
}
#ekip{
    background-color: #124911;
    padding: 50px;
    height: 1000px;
    text-align: center;
}
#ekiph3{
    color:white;
}
.sutun-sol-sag{
    width: 400px;
    float: left;
    padding: 50px;
}
.oval{
    border-radius:50%;   
}
.ekipisim{
    color:white;
    font-size: 25px;
    margin-bottom: 12px;
}
.ekipp{
    color: #888;
    font-size: 15px;
}
#iletisim{
    background: url(../img/img9.jpg);
    background-size:cover ;
    padding: 50px;
    height: auto;
    text-align: center;
}
#h3iletisim{
    color: #ffffff;
}
#iletisimopak{
    background-color: rgba(255,255,255, 0.2);
    padding: 30px 20px;
    border-radius: 5px;
    margin-bottom: 50px;
    height: 550px;
}
#formgroup{
    width: 700px;
    float: left;
    height: 500px;
    text-align: left;
}
#solform{
    width: 50%;
    float: left;
    padding-right: 5px;
}
#sagform{
    width: 50%;
    float: right;
    padding-left: 5px;
}
.form-control{
    width: 100%;
    padding: 10px;
    font-size: 15px;
    line-height: 1.5;
    color:#495057;
    background-color: white;
    margin: 10px;
    border-radius: 5px;
    border: 1px solid #ced4da;
}
textarea{
    font-family: Arial;
}
input[type="submit"]{
    cursor:pointer;
    background-color: #445c6e;
    font-size: 18px;
    letter-spacing: 1px;
    padding: 10px 30px;
    color:white;
    border:2px solid white;
    border-radius: 5px;
    margin-left: 10px;
    margin-top: 20px;
}
#adres{
    width: 450px;
    float: right;
    padding: 30px;
    height: 500px;
    text-align: left;
}
#adresbaslik{
    font-size: 30px ;
    color:rgb(0, 0, 0);
}
.adresp{
    color:#000000;
    font-size: 15px;
    letter-spacing: 1.5px;
    font-weight: bold;
}
#copyright{
    color:white;
    font-size: 20px;
    letter-spacing: 2px;
    margin-bottom: 10px;
}
#up{
    color:rgb(0, 0, 0);
    border: 5px solid rgb(0, 0, 0);
    border-radius: 50%;
    font-size: 15px;
    padding:7px 12px;
    font-weight:bold;
}